<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title | lowercase }}!<br>

     {{ power | currency:'USD' }}
     <br>
     {{ today | date:'medium' }}

  </h1>
  
</div>

<!-- custom syntax generated -->
<!-- <p>Super power boost: {{2 | exponentialStrength: 2}}</p> -->


<!--  two way data binding -->

<!-- Normal power: <input [(ngModel)]="list"> <button (click) ="newList(lists)">Add</button> -->

<!-- <ul><li *ngFor="let ele of list">{{ele}}</li></ul> -->

<!-- <appdata></appdata> -->
<!-- <app-parent></app-parent>

<app-directivess></app-directivess>

<p appDir>shubham</p> -->

<!-- <app-table></app-table>
 <app-ng-form></app-ng-form>
<app-ng-forms></app-ng-forms> -->

<a class="nav-link text-primary" routerLink="/table">Table</a>
<a class="nav-link text-primary" routerLink="/directive">directive</a>
<a class="nav-link text-primary" routerLink="/forms">forms</a>
<router-outlet></router-outlet>