<h1 *ngIf ='status'>Condition is True</h1>
<h1 *ngIf ='!status'>Condition is false</h1>

<button (click) = "test()">test</button>

<!-- Using ng for directive -->
<table border="1" cellspacing="0" cellpadding="5" style="text-align:center">
    
    <tr>
        <td>Index</td>
        <td>Code</td>
        <td>Name</td>
        <td>JOB</td>


    </tr>
    <tr  *ngFor = "let data of employee; let i = index; let isFirst = first; let isLast = last; let isOdd = odd; let isEven = even ">
        <td>{{i + 1}}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        <td>{{data.job }}</td>
        <td>{{ isFirst }}</td>
        <td>{{ isLast }}</td>
        <td>{{ isOdd }}</td>
        <td>{{ isEven }}</td>
    </tr>    
</table>

<!-- code for ng sweetch -->
<ul *ngFor = 'let data of employee' [ngSwitch]="data.city">
    <li *ngSwitchCase="'Pune'" class="primary"> {{ data.city }} </li>    
    <li *ngSwitchCase="'Karad'" class="success"> {{ data.city }} </li> 
    <li *ngSwitchCase="'Latur'" class="danger"> {{ data.city }} </li>  
</ul>